<% provide(:title, "Contributor") %>

<div class="span12"></div>
<div class="span12 row center">
  <h3>Select an option from the sidebar.</h3>
  <strong>Click the arrow to hide/show the menu.</strong>
</div>



