<% provide(:title, "Contributor") %>

<div class="span10">
  <div class="span10">
    <div class="span11">
      <div class="span12 row center"></div>
      <div class="span12 row center">
	<h3>Select an option on the sidebar.</h3>
      </div>
    </div>
  </div>
  <div class="span2"></div>
</div>

