<div class="row span12" id="basic_information">
  <div class="row span12">
    <div class="span12">
      <h5><%= link_to raw("Basic Information <b id='basic-caret' class='up-caret little-down'></b>"), "#", class: 'hide-form-element' %>
      </h5>
    </div>
    <div class="span12">
      <div class="hr-input"></div>
    </div>
    
    <div id="basic_fields" class="row span12">
      <div class="row span12 center">
	<%= f.text_field :title, :size => 80, maxlength: 80, class:"input-title", placeholder: "Enter title here" %>
      </div>
      <div class="row span12 center">
	<%= f.text_field :city, size: 20, maxlength: 20, class:"input-city", placeholder: "city" %>
	<%= f.text_field :country, size: 20, maxlength: 20, class:"input-country", placeholder: "country" %>
      </div>
      <div class="row span12 center"></div>
      <div class="row span12 center"></div>
    </div>
  </div>
</div>
