<div id="search_form" class="side-search-bar-fixed span3 row-fluid">
  <div class="span1"></div>
  <div class="module-header center span11">
    <%= text_field_tag 'search field', "", placeholder: 'Search For Reference (title or tags)', class:'down input-search' %>
    <%= button_tag "Search", type: 'button', class: 'btn', id: 'search_button' %>
    </div>
  <div class="span1"></div>
  <div id="result_spot" class="span11 module-body-table center">
  </div>
</div>
<div id="content_card" class="content-fixed span3 row-fluid" style="display:none;">
  <div class="module-header span12">
    <%= link_to "x", "#", id:"close_card_button", class: "close pad-right" %>
  </div>
  <div id="selected_article_content" class="span12" placeholder="Content will be displayed here..." >Content will be displayed here...
    <%=hidden_field_tag 'selected_id', "", id:'selected_article_id' %>
  </div>
  <div class="module-body span12"></div>
</div>
