<div class="row-fluid">
  <div class="span3">
    <%= f.hidden_field :_destroy, value: "0" %>
    <%= link_to "Remove", "#", class:'btn remove_nested_attributes_button'%>
  </div>
  <div class="span9">
    <%= f.cktext_area :bullet, :ckeditor => { :toolbar => "abridgedToolbar",:height => 70} %>
  </div>
</div>
<%= f.hidden_field :location %>
<div class="row-fluid"><div class="span12"></div></div>
