<% provide(:title, "Administrator") %>

<div class="span2"></div>
<div class="span10 center">

<% if !@employees.empty? %>
<div class="span2"></div>
<div class="span10">
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="span3">NAME</th>
      <th class="span3">EMAIL</th>
      <th class="span5">POSITION</th>
      <th class="span1"></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.first_name+" "+employee.last_name, administrator_employee_path(@administrator, employee) %></td>
      <td><%= employee.email %></td>
      <td>
	<% positions = [] %>
	<% employee.employee_positions.each do |position| %>
	  <% positions.append(position.position) %>
	<% end %>
	<%= positions.join(', ') %>
      </td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<% else %>
<p>There are no employees.</p>
<% end %>
<p><%= will_paginate @employees, :renderer => BootstrapPagination::Rails, :previous_label => " ", :next_label => " " %></p>

</div>

<% session[:list] = request.path %>
