<div class="row-fluid">
  <div class="span12" id="background">
    <h5>Background<%= link_to raw("<i class='icon-question-sign'></i>"), "#",  class: 'show_tip', data: {tip: "Previous events regarding this issue should be entered here."} %></h5>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="hr-full"></div>
  </div>
</div>
<div class="row-fluid center">
  <%= f.cktext_area :previous_summary, :ckeditor=>{ :height=> 150 }, class:"span12" %>
</div>

