@import "bootstrap";
@import "bootstrap-datetimepicker";
/* universal */

@media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }

#previous {
  background:rgb(240,240,240);
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  border-width: 1px;
}


a {
  outline:none;
}

#recent_container {
padding-top: 20px;
background: rgb(240,240,240);

}

#previous_container {
padding-top: 20px;

}

#details_container {
padding-top: 20px;

}

.row-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin {
  margin-top:-10px;
  padding: 0;
  margin: 0 0 0 0;
}

.side-contents-bar {
  position: fixed;
  padding-top: 10px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("bg_pattern_blackorchid.png");

}

.little-padding {
  padding-left:2px;
  padding-top:5px;

}

.location-color {
 color: rgba(197,189,153, 255/255);
}

.category-color {
 color: rgba(120,120,120, 255/255);
}

.published-time-color {
 color: rgba(255,255,255, 255/255);
}

.little-padding-bottom {
  padding-bottom: 5px;
  padding-top: 8px;
}

.little-padding-all-around {
  padding:8px 10px 3px 10px;
}

.unread-article, .unread-article a {
  color: rgba(255,255,255, 255/255);
  text-decoration:none;
  background-image: url("bg_listItem_unread.png");
  outline:none;
  border-color: rgb(66,66,66);
}

.read-article, .read-article a {
  color: rgba(180,180,180, 240/255);  
  text-decoration: none;
  background-image: url("bg_listItem_read.png");
  outline:none;
  border-color: rgb(55,55,55);
}

.title-background {
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
}

.margin-children .div {
  margin-top: 2px;
  margin-bottom: 2px;
}


@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}

.input-name {
  width: 10em;
}

.input-user-field {
  width: 21.3em;
}

.white-caret
{
  border-top-color: white;
  border-bottom-color: white;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret
{
  border-top-color: #0088CC;
  border-bottom-color: #0088CC;;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}


.navbar .dropdown-menu {
  margin-top: 0px;
}


div {
    word-wrap: break-word;
}

.dropdown-divider
{
    border-bottom: 1px solid #DDDDDD;
    margin: 5px 1px 6px;
    padding-top: 1px;
}

.glyphw{
    background-image: url(/assets/glyphicons-halflings-white.png);
}



.no-space [class*="span"] {
    padding: 0;

}

.row-fluid .span11-5 {
  width: 97.5%;
}

.row-fluid .span11-4 {
  width: 95.5%;
}


.row-fluid .span5-5 {
  width: 44.5%;

}

.row-fluid .span-5 {
  width: 1.8%;

}

.row-fluid .span1-5 {
  width: 10%;

}


.postbox {
   border-radius: 3px 3px 3px 3px;
   border-color: #DFDFDF;
   border-style: solid;
   border-width: 1px;
   font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
   font-size: 15px;
   font-weight: normal;
   line-height: 1;
   color: #464646;
   padding-bottom: 5px;
}

.postbox .inside {
  padding-top: 5px;
  min-height: 50px;
    color: #464646;
}

.postbox h3 {
  font-size: 15px;
   font-weight: normal;
   line-height: 1;
    margin: 0;
    padding: 7px 10px;
    border-top-left-radius: 3px;	
    border-top-right-radius: 3px;
    color: #464646;
    border-bottom-color: #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
    background: linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1;
}


.move-right{
   margin-left: 16px;
   padding-left: 16px;

}


.sidebar-nav-fixed {
     position:fixed;
     top:100px;
     width: 13%;
 
 }

.nav-list-item {
	       
    	&:hover {
	  .round {
	  	  background-color: #FCE15A;
		  }
	}


}

.round
    {
        -moz-border-radius: 15px;
        border-radius: 15px;
	-webkit-border-radius: 15px;
        padding: 2px;
        background-color: #9E85E2;

    }

.list-right
{
 float: right;
}

.input-temporary-title {
  width: 38em;
}

.input-title {
  width: 28em;
}

.input-tag {
  width: 12em;
}

.input-search {
  width: 10em;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  display: inline;
}

.input-date {
  width: 11em;
}

.input-date-short {
  width: 5em;
}

.input-time {
  width: 6em;
}


.input-city {
  width: 8em;
}

.input-country {
  width: 8em;
}

.country-right {
  float: right;
  padding-right: 85px;
  margin-right: 85px;
}

.input-fyi {
  width: 50em;
}

.input-current {
  width: 10em;
}

.input-number {
  width: 3em
}
.input-exp {
  width: 5em
}


html {
  overflow-y: scroll;
}

        
.sidebar-nav {  
  padding: 9px 0;  
}  

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align:center;
}

.text_center {
  width: 100%;
  margin: 0 auto;
}

.right {
  right: 0px;
  text-align: right;
}

.left {
  left: 0px;
  text-align: left;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 1.0;
    vertical-align: top;
    width: 0;
}

.up-caret {
    border-bottom: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    height: 0;
    opacity: 1.0;
    vertical-align: top;
    width: 0;
}

